.container
  .row
    .jumbotron
      %h3.text-center
        Create your short url
        %small
          #{Entity.all.count} urls have been already created
      = form_for @entity, remote: true, html: {role: 'form'} do |f|
        .form-group
          = f.label :url
          = f.text_field :url, {class: 'form-control'}
        .form-group
          %ul.url-errors-list

        .form-group
          = f.label :short_url
          = f.text_field :short_url, {class: 'form-control'}
        .form-group
          .form-group
            %ul.short-url-errors-list

        .form-group
          = f.submit "Submit", class: 'btn btn-block btn-primary'
